@{
    ViewBag.Title = "INFORMACION DEL ALUMNO";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <p>Carne: <strong>22-8742</strong></p>
    <p>Nombres: <strong>Josue Fernando</strong></p>
    <p>Apellidos: <strong>Tumax Baquiax</strong></p>
    <p>Curso: <strong>Programacion 2</strong></p>
</div>